<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
 <body class="flex flex-col mx-2.5 max-w-3xl h-screen text-white bg-slate-900 md:mx-auto">
  <header class="md:sticky top-0 pb-4 bg-slate-900 z-50">
    {{ partial "header.html" . }}
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="text-xl font-bold text-purple-400 ">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
