<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
 <body class="flex flex-col mx-2.5 max-w-3xl text-white bg-slate-900 md:mx-auto md:text-lg">
  <header>
  <p class="block text-4xl my-3.5 font-bold text-purple-400 md:text-5xl">{{ site.Title }}</p>
    <div class="flex flex-col mt-6 text-xl space-y-1">
      <p>Gedreven developer</p>
      <p>|> Sterke fundamentals<span class="inline-block">(Docker, Frontend, Backend)</span></p>
      <p>|> <span class="inline-block">Uitstekende taalvaardigheden</span>(Nederlands, Engels)</p>
      <p>|> Klaar om die volgende upgrade te maken</p>
    </div>
  </header>
  <nav class="sticky top-0 z-50 flex flex-col py-3 mt-3 my-6 text-2xl space-y-1 border-blue-500 border-y-2  bg-slate-900">
    <a href="/">Projecten</a>
    <a href="/boekenplank">Pragmatische Boekenplank</a>
  </nav>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="text-2xl font-bold text-purple-400">
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
