{{ define "main" }}
  <div class="flex flex-col space-y-9">
  <h1>Projecten</h1>
  {{ range where site.RegularPages "Section" "projecten"}}
  <div class="flex flex-col space-y-3">
  <h3>{{ .Title }}</h3>
  <p>
    Tools: {{ range $index, $page := .Params.Technologies }} 
    {{- if $index -}}, {{ end }}
    {{- . -}}
    {{ end }} 
  </p>
  <div id="projects">{{ .Content }}</div>
  <div class="flex flex-row text-2xl space-x-2.5">
    <div class="group flex flex-row">
    {{ if .Params.Live }}
    <a class="group-hover:underline" href="{{ .Params.Live }}" target="_blank"><img class="h-8" src="{{"light.svg"|relURL}}"></a>
    <a class="group-hover:underline text-blue-500" href="{{ .Params.Live }}" target="_blank">Live</a>
    {{ end }}
    </div>
    <div class="group flex flex-row space-x-1.5">
    {{ if .Params.Github }}
    <a class="group-hover:underline" href="{{ .Params.Github }}" target="_blank"><img class="h-8" src="{{"github.svg"|relURL}}">
    <a class="group-hover:underline text-blue-500" href="{{ .Params.Github }}" target="_blank">Github</a>
    {{ end }}
    </div>
  </div>
  </div>
{{ end }} 
</div>
{{ end }}
